// COLORS
$primary-color: #12c2e9;
$secondary-color: #c471ed;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #222;

$dark-blue-text: #351f41; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
